.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
}
.cards{
  width: 19vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  padding: 10px;
  margin: 20px;
  border: 2px solid rgb(163, 87, 112);
}